@import "tailwindcss";

@theme {
  --button-red: #e62429;
  --button-dark-red: #ca2020;
  --text-color: #000000;
  --text-color-black: #202020;
  --navbar-color-lightblack: #202020;
  --navbar-color-black: #151515;
  --background-color: #fff;
}

.marvel-button{
    @apply m-px font-bold text-white px-4 text-lg
    uppercase -skew-x-12 bg-(--button-red) hover:bg-(--button-dark-red);
}
