@use '../variables';

h1{
    font-size: 4rem;
}

li {
    list-style: none;
    font-size: 1.4rem;
    flex-wrap: wrap;
    text-align: start;
    margin-bottom: 1rem;
}

.imgInfo {
    width: 40rem;
    height: 40rem;
    border-radius: 100em;
    border: 4px solid white;
}

.infoContainer {
    border-radius: 0 0 20px 20px;
    color: variables.$text-color;
    padding: 0.4rem;
    margin-bottom: 2rem;
}

.infoContainer a {
    position: absolute;
    padding: 2rem;
    font-size: 2rem;
    color: variables.$text-color;
    transition-property: font-size;
    transition-duration: 0.6s;
    transition-timing-function: ease
}

.infoContainer a:hover {
    font-size: 3rem;
}

.charInfoContainer {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
    background-color: #151515;
    padding: 4rem;
    border-radius: 0px 0px 20px 20px;
}

.imageContainer {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer h1{
    margin-top: 1rem;
}

.imageContainer button {
    font-size: 2rem;
}

.charDescription {
    width: 100%;
    margin-bottom: 4rem;
    display: grid;
    justify-content: center;
}

.charDescription h2{
    text-align: center;
    font-size: 2rem;
}

.charDescription h3{
    font-size: 1.4rem;
    text-align:center;
    text-wrap: balance;
}

.charApparition {
}

.charApparition ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.charApparition ul li{
    flex-basis: 20%;
}

.InfoButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.InfoButtons button{
    border: 3px solid white;
}

.charApparition a{
    font-size: 1rem;
    margin: 1rem;
    padding: 0;
    position: static;
}
.charApparition a:hover{
    transform: scale(1);
}

.charApparition h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-Save {
    position: relative;
    left: 0;
    top: 0;
}

@media (max-width: 480px) {
    h1{
        font-size: 2rem;
        text-align: center;
        text-wrap: balance;
    }
    .charApparition h3{
        font-size: 2rem;
    }
}
@media (max-width: 680px) {
    .imgInfo {
        width: 20rem;
        height: 20rem;
    }
    .charApparition ul li{
        flex-basis: 100%;
    }
}